<div class="show-header">
  <div class="row align-middle show-header">

    <div class="columns">

      <h4><%= @company.name %></h4>
      <h1>Holidays</h1>

    </div>

    <div class="columns small-1 medium-2 ">
      <%= link_to "Create Holiday", new_company_holiday_url, class: "button primary" %>
    </div>
  </div>
</div>


<div class="row small-up-1 medium-up-3">
	<% @holidays.each do |holiday|  %>
		<%= render 'holiday',
			url: company_holiday_url(
				@company,
				holiday),
			holiday: holiday,
			company: @company
		%>
	<% end %>
</div>
