<%= form_for [:dashboard, resource], method: :post, html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="space"></div>
  <%= f.submit 'Submit', class: "button primary" %>
<% end %>
