<div class="row">
  <div class="columns medium-1"></div>
  <div class="columns">
    <%= image_tag resource.photo.url(:thumbnail) %>
    <p>ID: <%= resource.id %> </p>
    <p>Name: <%= resource.name %></p>
  </div>
</div>
