<% if employment.acceptance.nil? %>
<% else %>
  <% if (@current_employment.present?) || @current_user == employment.user %>

    <div class="button secondary small no-margin" data-toggle="employee-dropdown-<%= employment.id %>"><i class="fa fa-bars white-text"></i></div>
    <section class="dropdown-pane no-padding" id="employee-dropdown-<%= employment.id %>" data-dropdown data-hover="true" data-hover-pane="true" >
      <div class="row horizontal-max no-margin no-padding collapse">
        <div class="columns small-up-1 medium-up-1">
          <div class="columns no-padding">
            <%= link_to 'Edit', edit_user_employment_url(employment.user_id, employment), class: "button white-c horizontal-max no-margin text-left"  %>
          </div>
          <% if @current_employment.is_hr? %>
            <div class="columns no-padding">
              <%= link_to "Create Leave Request for Employee",
                  user_employment_leave_request_by_hr_url(employment.user_id, employment),
                  class: "button white-c horizontal-max no-margin text-left" %>
            </div>
          <% end %>
        </div>
      </div>
    </section>
    </div>

  <% end %>
<% end %>
