<% if (@current_employment.is_hr?) && (@current_user != @user) && (@employment.is_employee?) %>
  <div class="columns">
    <%= f.submit 'Make HR Officer', name: 'make_hr', class: "button warning  add-button-border" %>
  </div>
<% end %>
<% if (@current_employment.is_hr?) && (@current_user != @user) && (!@employment.is_employee?) %>
  <div class="columns">
    <%= f.submit 'Make Employee', name: 'make_non_hr', class: "button warning add-button-border" %>
  </div>
<% end %>
