<% if(@current_employment.is_hr?) && (@employment.is_employee? || @employment.is_hr?) %>
  <div class="columns">
    <%= f.submit 'Make Manager', name: 'make_manager', class: "button warning margin-none add-button-border" %>
  </div>
<% end %>
