<% if @current_employment.is_hr? && @employment.regularized == false %>
  <div class="columns">
    <%= f.submit 'Regularize', name: 'regularize', class: "button success add-button-border " %>
  </div>
<% end %>
<% if @current_employment.is_hr? && @employment.regularized == true %>
  <div class="columns">
    <%= f.submit 'Make Non-Regular', name: 'make_non_regular', class: "button alert add-button-border" %>
  </div>
<% end %>
