<div class="space5"></div>

<div class="text-center">
	<h2>New Employment</h2>	
</div>

<div class="space5"></div>

<%= render 'employments_form', url: user_employments_path(current_user), method: :post %>
