<div class="form-header">
  <div class="row text-center align-middle form-header">

    <div class="columns">

      <h2>New Employment</h2>

    </div>
  </div>

  <div class="row">
    <div class="columns">
      <%= render 'employments_form', url: user_employments_path(current_user), method: :post %>
    </div>
  </div>
</div>
