li {
  background-color: #393945;
  color: white;
}

ul {
  background-color: #393945;
  color: white;
}

a {
  background-color: #393945;
  color: white;
}

.menu-vertical {
  background-color: #393945;
  color: white;
  height: 100vh;
}
