<tr class="black-text">
  <td>
    <%= resource.full_name %>
  </td>
  <% @sum = 0 %>
  <% @company.leave_types.each do |u| %>
    <% if u.name == "Unpaid" %>
    <% else %>
      <td>
        <% to_add = resource.remaining_leaves(@company, u, @r_date)[:amount] %>
        <%= bignum(to_add) %>
        <% @sum += to_add %>
      </td>
    <% end %>
  <% end %>
  <td>
    <%= bignum(@sum) %>
  </td>
</tr>
