<div class="small-nav white-border-bottom">
	<div class="row small-nav">
		<div class="columns">
			<%= link_to 'Back', url_for(:back), class:  'small-nav-link' %> 	&nbsp; 	&nbsp; | 	&nbsp; &nbsp;  <%= link_to "Home", root_url, class: 'small-nav-link' %> &nbsp; > &nbsp; <%= link_to @company.name, company_url(@company), class: 'small-nav-link' %>  &nbsp; > &nbsp; Edit Leave Request
		</div>
	</div>
</div>

<div class="row">
  <div class="column medium-offset-3 medium-6">
    <%= render 'leave_request_form', url: user_employment_leave_request_url(@user, @employment, @leave_request), method: :patch %>
  </div>
</div>
