<div class="form-header">
  <div class="row text-center align-middle form-header">
    <div class="columns">
      <h2>Edit Leave Request</h2>
      <div class="space2"></div>
      <h6><%= @leave_request.title %></h6>
    </div>

  </div>

  <%= render 'leave_request_form', url: user_employment_leave_requests_url(current_user, @employment, @leave_request), method: :patch %>
</div>
