<table>
  <thead>
    <tr>
      <td>Key</td>
      <td>value</td>
    </tr>
  </thead>
  <tbody>
    <% resource.attributes.each do |k, v| %>
    <tr>
      <td class="text-center"><%= k.humanize %></td>
      <td> <%= v %></td>
    </tr>
    <% end %>
  </tbody>
</table>
