<div class="home-connect-company">
	<div class="row align-justify align-middle">
		<div class="columns shrink">
			<h5>
				<%= link_to "Connect to a Company", new_user_employment_url(current_user), class: "white-text" %>
			</h5>	
		</div>
		<div class="columns text-right shrink">
			<h1><%= User.count %></h1> employees connected
		</div>
	</div>
</div>
