<div class="footer">
  <div class="row align-middle footer">
    <div class="columns medium-2">
      <h3>
        Tseklis
      </h3>
    </div>
    <div class="columns">
      <%= link_to "About Us", about_url, class: "white-text" %><br />
      <%= link_to "Meet the Team", team_url, class: "white-text" %><br />
    </div>
    </div>
  </div>
</div>
