<div class="footer">
  <div class="row align-middle footer">
    <div class="columns medium-2">
      <h3>
        Tseklis.ph
      </h3>
    </div>
    <div class="columns">
      <p>About Us</p>
      <p>Privacy Policy</p>
      <p>Contact Us</p>
    </div>
    </div>
  </div>
</div>
