  <div id="instructions" class="hide">
    <div class="row instructions align-middle">
      <div class="columns text-center">
        <div class="row">
          <div class="columns text-center">
            <h4>Company Setup</h4>
          </div>
        </div>
        <div class="space2"></div>
        <div class="row">
          <div class="columns">
            <div class="row medium-up-2 small-up-1">
              <div class="columns">
                <%= render 'partials/create_company' %>
              </div>
              <div class="columns">
                <%= render 'partials/connect_company' %>
              </div>
              <%# if @current_user.employed? && @employment.role_id == @hr_officer.id %>
                <!-- <div class="columns"> -->
                  <%# render 'partials/company_edit' if @current_user.employed? %>
                <!-- </div> -->
              <%# end %>
              <% if @current_user.employed? %>
                <div class="columns">
                  <%= render 'partials/company_holidays' if accepted? %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- <div class="space3"></div>
        <div class="row">
          <div class="columns">
            <h4>Leave Request (Latest Company)</h4>
          </div>
        </div>
        <div class="space2"></div>
        <div class="row">
          <div class="columns">
            <div class="row align-middle medium-up-1">
              <div class="columns middle-6">
                <%# link_to 'Create Leave Request', new_user_employment_leave_request_url(@current_user, @current_employments.last), class: 'button primary large expanded' %>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
