<div class="landing-contact_messages">
  <div class="row landing-contact_messages align-middle text-center">
    <div class="columns">
      <div class="row">
        <div class="columns">
          <h2><%= @landing_page_settings.contact_messages_header %></h2>
          <p><%= @landing_page_settings.contact_messages_description %></p>
        </div>
      </div>
      <div class="space5">
      </div>
      <div class="row small-up-1 medium-up-3 white-text">
      </div>
    </div>
  </div>
  <div class="space5">
  </div>
</div>
