<div id="landing", class="row no-sidepadding horizontal-max no-margin align-middle landing">
	<div class="columns">
		<div class="row align-middle">
			<div class="columns medium-offset-1">
				<h1>Tseklis <small>Leave Tracking and Analytics</small></h1>
				<p>
					Simple. Convenient. We'll do most of the work.
				</p>
			</div>
			</div>
		</div>
	</div>
</div>
