<div class='white-bg' id='landing'>
	<div class="row no-sidepadding horizontal-max no-margin align-middle landing white-bg">
	<div class="columns">
		<div class="row align-middle blue-text">
			<div class="columns medium-offset-1">
				<h1>Tseklis <small class='blue-text'>Leave Tracking and Analytics</small></h1>
				<p>
					Simple. Convenient. We'll do most of the work.
				</p>
			</div>
			</div>
		</div>
	</div>
</div>
