<div class="row horizontal-max collapse">
  <div class="columns no-sidepadding no-margin">
    <%= render 'partials/landing_first' %>
  </div>
</div>

<%= render 'partials/landing_advantages' %>
<%= render 'partials/footer' %>
