<div id='landing' style='background: url(<%=  LandingPageSetting.last.photo_1.url %>) center center; background-size: cover'>
	<div class="row no-sidepadding horizontal-max no-margin align-middle landing">
	<div class="columns">
		<div class="row align-middle white-text">
			<div class="columns medium-offset-1">
				<h1>< Tseklis > <small class='white-text'>Leave Tracking and Analytics</small></h1>
				<p>
					Simple. Convenient. We'll do most of the work.
				</p>
			</div>
			</div>
		</div>
	</div>
</div>
