<div class="landing-advantage">
  <div class="row landing-advantage small-up-1 medium-up-3 align-middle text-center">
    <div class="columns">
      <h1>Advantage 1</h1>
    </div>
    <div class="columns">
      <h1>Advantage 2</h1>
    </div>
    <div class="column">
      <h1>Advantage 3</h1>
    </div>
  </div>
</div>
