<div data-sticky-container>
  <div class="top-bar sticky" data-sticky data-margin-top='0' data-top-anchor="landing:bottom">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><%= link_to "Tseklis", root_path  %></li>
    </div>
    <div class="top-bar-right">

      <ul class="menu">

      </ul>
    </div>
  </div>
</div>
