<div class="show-leave">
  <div class="row show-leave align-middle">
    <div class="columns text-center">
      <h3>Set up your company</h3>
      <p>Please create your company or ask your HR Officer to invite you.</p>
    </div>
  </div>
</div>
