<div class="show-leave">
  <div class="row show-leave align-middle">
    <div class="columns text-center">
      <h3>Waiting for Acceptance</h3>
      <p>Your HR will have to accept your request to join the company.</p>
    </div>
  </div>
</div>
