<div class="show-leave">
  <div class="row show-leave align-middle">
    <div class="columns text-center">
      <h1>Set up your Leave Types</h1>
      <div class="space"></div>
      <p>Please set up your Company's leave types.</p>
      <p>Set it up through the Latest Company Settings button.</p>
    </div>
  </div>
