<div class= "no-leave-request vertical-padding2">
  <div class="row align-middle no-leave-request">
    <div class="columns text-center">
      <div class="space"></div>
      <h3>Filing for a leave?</h3>
      <div class="space"></div>
      <p>Go to the Navigation Bar: Companies > (Company Name) > Company Menu > Create Leave Request</p>
      <p> The company menu looks like this: <div class="button warning" data-toggle="company-dropdown"><i class="fa fa-bars fa-2x white-text"></i></div></p>
    </div>
  </div>
</div>
