<div class="show-leave">
  <div class="row show-leave align-middle">
    <div class="columns text-center">
      <h1>Set up your company</h1>
      <p>Please set up your company or connect to one.</p>
    </div>
  </div>
</div>
