<div class="row">
	<div class="columns">
		<h4>Companies</h4>
		<div class="space"></div>

		<div class="row" id="employments">
			<div class="column">
				<table class="table">
					<thead>
						<tr>
							<th>Company</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Salary</th>
							<th>Status</th>
							<th>Role</th>
							<th colspan="1"></th>
						</tr>	
					</thead>
					<tbody>
						<!--
							Below code will look for a partial: views/employments/_employment.html.erb
						-->
						<%# render @employments %>
						
						<% @employments.reverse_order.each do |employment| %>
							<%= render 'employments/employment', employment: employment, company: @company %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
