<h4>Leave Requests</h4>
<div class="space1"></div>

<div class="row" id="leave_requests">
	<div class="column">
		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Leave Type</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Status</th>
					<th colspan="1"></th>
				</tr>
			</thead>
			<tbody>
				<!--
					Below code will look for a partial: views/employments/_employment.html.erb
				-->
				<%# render @employments %>
				<% if @leave.requests.nil? %>
				<% else %>
					<% @leave_requests.each do |leave_request| %>
						<%= render 'leave_requests/leave_request', leave_request: leave_request, employment: @employment %>
					<% end %>
				<%
			</tbody>
		</table>
	</div>
</div>