<h4>Leave Requests</h4>
<div class="space1"></div>

<div class="row" id="leave_requests">
	<div class="column">
		<table class="table">
			<thead>
				<tr>
					<th>Employment Date</th>
					<th>Company</th>
					<th colspan="1"></th>
				</tr>
			</thead>
			<tbody>
				<!--
					Below code will look for a partial: views/employments/_employment.html.erb
				-->
				<%# render @employments %>
				
				<% @employments.each do |employment| %>
					<%= render 'employments/employment', employment: employment %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>