

<% Array.wrap(@users).each do |user| %>

    <div class="row m-well <%= cycle('', 'graymax-bg') %>">
      <div class="small-12 medium-12 columns">

      <div>
        <%= link_to user do %>
          <h3><%= user.profile.first_name %> <%= user.profile.last_name %></h3>
        <% end %>
      </div>

      </div>
    </div>
<% end %>
