<div class="space"></div>

<% if user_signed_in? %>

	<% unless current_user.companies.present? %>

		<%= link_to "Create a Company", new_company_url %> <br/>
	<% end %>
	
	<%= link_to "Connect to a Company", new_user_employment_url(current_user) %> <br />
	

	<% if current_user.employed? %>
		<%= link_to "Create a Leave Request",
			new_user_employment_leave_request_url(current_user, @employment.id) %> <br />

	<% end %>

<% end %>