<div class="row">
  <div class="columns">
    <table class="reports_table">
      <thead>
        <tr>
          <th>Employee</th>
          <% @client_projects.each do |proj| %>
            <th class="text-center"><%= proj.name %></th>
          <% end %>
          <th class='text-center'>Total</th>
          <th class="text-center">% of Total work</th>
      </thead>
      <tbody id="reports">
        <%= render partial: "client_consolidated_time_data", collection: @report_onboarding_client, as: 'employee' %>
      </tbody>
    </table>
  </div>
</div>
