<div class="columns">
  <div class="m-well2">
    <h3><%= project.name %></h3>
    <h4><%= project.project_times.sum(:duration) %>  <span class="h3smaller">hrs.</span></h4>
    <h6><%= project.department.name %></h6>
    <%= link_to "Edit", edit_company_project_url(@company, project) %>
  </div>
</div>
