<div class="row">
  <div class="columns">
    <table class="reports_table">
      <thead>
        <tr>
          <th>Employee</th>
          <th>Client</th>
          <th>Project</th>
          <th class='text-center'>Hours</th>
          <th class='text-center'>Project % hours</th>
          <th class='text-center'>Client % hours</th>

      </thead>
      <tbody id="reports">
        <%= render partial: "employee_time_data", collection: @report_onboarding, as: 'employee' %>
      </tbody>
    </table>
  </div>
</div>
