<div class="section-yellow-small white-text">
  <div class="row section-yellow-small align-middle white-text">
    <div class="columns shrink">
      <h3>HR Dashboard</h3>
      <div id="show-hr-dashboard" class="button primary no-margin add-button-border">
        Toggle
      </div>
    </div>
    <div class="columns">

    </div>
  </div>
</div>
