<div class="section-blue-small">
  <div class="row section-blue-small align-middle small-up-1 medium-up-1">
    <div class="columns text-center align-self-bottom">
      <h3>HR Dashboard</h3>
      <div class="space"></div>
    </div>
    <div class="columns text-center">
      <div id="show-hr-dashboard" class="button primary">
        Details
      </div>
    </div>
  </div>
</div>
