<div id="hr-dashboard" class='hide'>
  <div class="section-green-small">
    <div class="row section-green-small no-sidepadding no-margin horizontal-max">
      <div class="columns medium-1">
        <% @months.each do |month| %>
          <% month.each do |k, v| %>
            <h6><%= link_to k, company_url(@company, month_used: v), class: 'white-text click-month', remote: true %></h6>
          <% end %>
        <% end %>
      </div>
      <div class="columns medium-11">
        <%# render 'hr_dashboard_current_month' %>
        <%= render 'hr_dashboard_monthly' %>
      </div>
    </div>
  </div>
</div>
