<div class="columns">
   <h4><%= Time.zone.today.strftime("%B %Y") %> <small></small></h4>
   <h2>Leave Data</h2>
   <div class="space"></div>
</div>
<div class="columns">
  <% if @company.leave_amounts.where(date: Time.zone.today.all_month).sum(:amount) > 0 %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <% @company.leave_types.each do |leave_type| %>
            <th><%= leave_type.name %></th>
          <% end %>
          <th>Total</th>
        </tr>
      </thead>
      <tbody id="leave_data">
        <%= render partial: 'companies/leave_data', collection: @leave_data, as: 'leave_data'%>
      </tbody>
    </table>
  <% else %>
    <div class="row">
      <div class="columns text-center">
        <h1>No Data</h1>
      </div>
    </div>
<% end %>
</div>
