<% if @company.employments.find_by(acceptance: nil).present? %>
	<div class="row">
		<div class="columns">
			<h4>Join Requests</h4>
				<div class="space"></div>
				<div class="row" id="join-requests">
					<div class="column">
						<table class="table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Start Date</th>
									<th>Salary</th>
									<th>Role</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<% @company.employments.reverse_order.each do |employment| %>
									<%= render 'users/user',
										employment: employment,
										user: employment.user,
										join_request: true,
										in_company: true,
										url: user_employment_url(
											employment.user,
											employment),
										method: :patch %>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>

				<div class="space2"></div>
		</div>
	</div>
<% end %>
