<!-- <div class="text-center">
	<h5>Company Leaves</h5>	
</div>
<div class="space2"></div> -->

<div class="row">
	<% @leaves.each do |p| %>
	<% p.each do |k,v| %>
		<div class="columns text-center">
				<h1><%= v %></h1>
				<p><%= k %></p>	 
		</div>
		
		<% end %> 
	<% end %>	
</div>