<h4>
<% if params[:month_used].nil? %>
  <%= Time.zone.today.strftime("%B %Y") %>
<% elsif params[:month_used].to_s.to_i == 0 %>
  All Year <%= @year_search %>
<% else %>
  <%= Date.new(@year_search, params[:month_used].to_s.to_i).strftime("%B %Y") %>
<% end %>
</h4>
