<tr class="black-text">
  <td>
    <%= leave_data.user.profile.first_name %> <%= leave_data.user.profile.last_name %>
  </td>
  <% sumtotal = 0 %>
  <% @company.leave_types.each do |leave_type| %>
    <% unless leave_type.name == 'Non-paid leave' || leave_type.name == 'Non-paid' %>
      <% sumtotal += leave_data.leave_amounts.where('leave_type_id = ?', leave_type.id ).sum(:amount) %>
    <% end %>
    <td>
      <%= leave_data.leave_amounts.where('leave_type_id = ?', leave_type.id ).sum(:amount) %>
    </td>
  <% end %>
  <td>
    <%= sumtotal %>
  </td>
</tr>
