<tr class="black-text">
  <td>
    <%= leave_data.leave_request.employment.user.profile.first_name %> <%= leave_data.leave_request.employment.user.profile.last_name %>
  </td>
  <% @company.leave_types.each do |leave_type| %>
    <td>
      hello
    </td>
  <% end %>
  <td>
    hello
  </td>
</tr>
