<div class="row">
	<div class="columns medium-offset-2 medium-8">
		<div class="row">
			<div class="columns text-center">
				<h1>
					<%# @leaves2.each do |p| %>
						<%# p.each do |k,v| %>
							<%# @sum += v %>		
						<%# end %> 
					<%# end %>							
					<%# @sum %>
				</h1>
				<p>
					Total Leaves
				</p>
			</div>
		</div>
		<div class="row ">
			<% @leaves.each do |p| %>
				<% p.each do |k,v| %>
					<div class="columns text-center">
							<h1><%= v %></h1>
							<p><%= k %></p>	 
					</div>
				<% end %> 
			<% end %>	
		</div>	
	</div>
</div>


<div class="space2"></div>