<div id="manager-dashboard" class='hide'>
  <div class="section-blue-small">
    <div class="row section-blue-small no-sidepadding no-margin horizontal-max">
      <div class="columns">
        <%= @current_employment.
      </div>
    </div>
  </div>
</div>
