<tr class="table-data black-text">
  <td><%= link_to "#{employment.user.profile.first_name} #{employment.user.profile.last_name}", user_url(employment.user_id) %></td>
  <td><%= better_date(employment.start_date) %></td>
  <td class='text-center'>
    <% if employment.regularized == true %>
      <div class="callout small no-margin no-padding success">
        Regular
      </div>
    <% else %>
      <div class="callout small no-margin no-padding alert">
        Non-regular
      </div>
    <% end %>
  </td>
  <%# content_tag(:td, number_with_delimiter(employment.salary)) if hr? && employed_here? %>
  <td class="edit-column">
    <%= render 'employments/employment_button', employment: employment, location: 'manager_dashboard' if @current_employment.is_hr? %>
  </td>
</tr>
