<div class="section-green-small">
  <div class="row section-green-small align-middle">
    <div class="columns shrink">
      <h3 class='no-margin'>Manager Dashboard</h3>
    </div>
    <div class="columns">
      <div id="show-manager-dashboard" class="button primary no-margin">
        Toggle
      </div>
    </div>
  </div>
</div>
