<% if @company.leave_amounts.present? %>
	<div class="show-leave">
		<div class="row vertical-padding">
			<div class="columns">
				<div class="space"></div>
				<% if @company.leave_requests.present? %>
					<h4><%= Date.today.strftime("%B %Y") %></h4>
					<div class="row align-middle">
						<div class="columns small-6 medium-4 text-center">
							<h1 class="h-1">
								<%= @month_total_leaves %>
							</h1> 
							<h5>
								Total
							</h5>
						</div>
						<div class="columns">
						<div class="row">
								<% @month_segmented_leaves.each do |p| %>
									<% p.each do |k,v| %>
										<div class="columns text-center">
											<h1><%= v %></h1>
											<p><%= k %></p>	 
										</div>
									<% end %> 
								<% end %>	
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>		
	</div>
<% end %>

		