<div class="space5"></div>
<div class="row">
  <div class="columns">
    <h1>Sorry</h1>
    <p>You're not yet accepted in this company. Please wait for an HR Officer to accept your request.</p>
  </div>
</div>
