<% if @company.employments.present? %>
	<div class="row vertical-padding">
		<div class="columns">
			<h4>Employees</h4>
			<div class="space"></div>
			<div class="row" id="users">
				<div class="columns">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Salary</th>
								<th>Role</th>
								<th colspan="1"></th>
							</tr>
						</thead>
						<tbody id="employments">
							<%# render @users, join_request: false %>
							<%= render partial: 'employments/company_employment', collection: @employments, as: 'employment', join_request: false %>
							<%# @employments.each do |employment| %>
								<%# render 'users/user',
									employment: employment,
									user: employment.user,
									join_request: false
								%>
							<%# end %>
						</tbody>
					</table>
					<div class="row align-center text-center">
						<div class="column shrink">
							<div id="employment_paginator_company">
								<%= paginate @employments, remote: true, param_name: 'employments_page' %>
							</div>
							<div class="small-font-size" id="employment_info">
								<%= page_entries_info @employments %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
