<div class="show-header">
  <div class="row align-middle show-header">
    <div class="columns">
      <h4><%= link_to @company.name, company_url(@company) %></h4>
      <h1>Employees</h1>
    </div>
  </div>
</div>
<div class="space2"></div>
<div class="row">
  <div class="columns">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Salary</th>
          <th>Role</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody id="employments">
        <%= render partial: 'employments/company_employment', collection: @employments, as: 'employment'%>
      </tbody>
    </table>
  </div>
</div>
