<div class="row align-middle show-header">

  <div class="columns">

  	<h1 class="no-margin">Companies</h1>
  	<p>All the clients we serve.</p>

	</div>

	<div class="columns small-1 medium-2 ">
		<%= link_to "Create Company", new_company_url, class: "button primary" %>
	</div>
</div>


<div class="row small-up-1 medium-up-3">
	<% Array.wrap(@companies).each do |company|  %>
		<%= render 'company',
			url: company_url(company),
			company: company
		%>
	<% end %>
</div>

<div class="show-header"></div>