<div style='background-color: #29a4e9; padding: 10px;'>
  <div style='font-family: "Arial"; background-color: #f7f7f9; padding: 1rem; border-radius: 10px;'>
    <h3>You've been invited to use Tseklis!</h3>
    <p>
      <%= @sender.profile.first_name %> <%= @sender.profile.last_name %> just sent you an invitation to join <strong><%= @invite.company.name %></strong> through Tseklis.com!
    </p>
    <p>
      To continue joining, please click on the link below:
    </p>

    <a href='<%= new_user_registration_url(invite_token: @invite.token, email: @invite.email, start_date: @invite.start_date, first_name: @invite.first_name, last_name: @invite.last_name) %>'>
      Click Here
    </a>

    <br />
    <br />
    <p>Thank you,</p>
    <p>Tseklis Team</p>
  </div>
</div>
