
body {
	position: relative;
}

a {
	color: black;
	text-decoration: none;
}

input {
	width: 100%;
}

select {
	width: 100%;
}

[type="checkbox"] {
	width: auto;
	margin: 0.3rem;
	margin-right: 0;
}

.no-sidepadding {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.no-margin {
	margin: 0;
}

.top-margin {
	margin-top: 1rem;
}

.padding {
	padding: 1rem;
}


.vertical-max {
	max-height: 100vh;
	height: 100vh;
}

.vh-max {
	max-height: 100vh;
	height: 100vh;
	max-width: 100vw;
	width: 100vw;
}

.horizontal-max {
	max-width: 100%;
	width: 100%;
}

.form-default {
	background-color: #EEEEEE;
	padding: 2rem;
	border-radius: 2rem;
}

.small-font-size {
	font-size: 0.8rem;
}

.callout.small.notice {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.white-text {
	color: white;
}

.space {
	height: 1rem;
}

// Colors

.text-center {
	text-align: center;
}

// sticky

// .menu {
//     top: 0;
//     position: -webkit-sticky;
//     position: sticky;
// }

// .sticky {
//     top: 0;
//     position: fixed;
// }

.margin-none {
	margin: 0;
}

// Alignment

.align-middle-height{
	height: 100vh;
	line-height: 100vh;
}

.align-middle{
	padding: 40vh;
}

.align-center{
	text-align: center;
}

.top-reposition{
	margin-top: -3.2vh;
}

// Menu Options

.container {
	position: relative;
}


.menu-right{
		right: 0;
}

 // Containers

.m-well {
	background-color: #eee;
	border-radius: 1rem;
	padding: 1rem;
	margin: 1rem;
}

 // callout

.callout {
	margin: 1rem;
	padding: 1.5rem;
	background-color: #fff19c;
}

.shadow {
	box-shadow: 0px 2px 2px LightGrey;
}

// BG Colors
.black-bg {
	background: black;
}

.white-bg {
	background: white;
}

.graymax-bg {
	background: #fafafa;
}