
div#landing {
	background: url(https://unsplash.it/1280/720/?image=1067);
	background-repeat: no-repeat;
	background-size: cover;
}

.landing {
	height: 92vh;
	max-height: 92vh;
	overflow: hidden;
}
.homepage-right {
  background-color: #29a4e9;
  height: 100%;
  width: 100%;
}

.landing-advantage {
  background-color: #29a4e9;
  height: 120vh;
  max-height: 10000px;
  width: 100vw;
}

.landing-testimonials {
  height: 120vh;
  width: 100vw;
}

.landing-endorsements {
  background-color: #ffae00;
  height: 120vh;
  width: 100vw;
}

.landing-contact_messages {
  background-color: #29a4e9;
  height: 120vh;
  max-height: 10000px;
  width: 100vw;
}

.welcome {
  background-color: #29a4e9;
  height: 40vh;
  width: 100vw;
  max-width: 100vw;
  color: white;
}

.grow-circle {
  background-color: white;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  color: black;
  line-height: 5rem;
}

#show-instructions {
  padding: 2rem;
}

#instructions {
  height: 52vh;
  width: 100vw;
}

.instructions {
  height: 52vh;
  width: 100vw;
}

// icons

.feature-icon {
  height: 10rem;
  width: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial-photo {
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.endorsement-photo {
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
