.holiday_card {
	padding: 1.5rem;
	margin: 0.5rem;
	border-radius: 1rem;
	height: auto;
	max-height: 100%;
}

.company_card {
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 1rem;
	height: auto;
	max-height: 100%;
}

.button.small {
	margin: 0;
}

// Homepage styles

.home-create-company, .home-connect-company {
	color: white;
	padding: 1rem;
}

.home-create-company {
	background-color: #FF7979;
}

.home-connect-company {
	background-color: #FF5050;
}

// Leave styles

.user_show_leave {
	background-color: #393945;
	padding: 1rem;
	color: white;
}

// Callouts

.callout.small.notice {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}


// Table Customizations

.edit-column {
	width: 5vw;
}

// Menu Customizations

section.dropdown-pane {
	border: none;
}

// Div headers

.form-header {
	height: 14rem;
}

.show-header {
	height: 20rem;
}

// Font-sizes

.h-1 {
	font-size: 7rem;
}

// Buttons
$miko-button-border: 0.3rem;
.button {
	&.primary {
		color: white;
		border-radius: $miko-button-border;	
		&:hover {
		 	color: white;
		}
	}
	&.success {
		color: white;
		border-radius: $miko-button-border;
		 &:hover {
		 	color: white;
		}
	}
	&.alert {
		color: white;
		border-radius: $miko-button-border;	
		&:hover {
		 	color: white;
		}
	}
}

// Topbar
$top-bar-height: 5%;
.top-bar {
	height: $top-bar-height;
}

.logo-round {
	border-radius: 50%;
	background-color: #29a4e9;
	padding: 0rem;
}



