.holiday_card {
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 0.5rem;
	height: 40%;
	max-height: 100%;
}

.button.small {
	margin: 0;
}

// Homepage styles

.home-create-company {
	height: 92%;
	width: 50vw;
	background-color: #4B92FC;
	color: white;
}

.home-connect-company {
	height: 92%;
	width: 50vw;
	background-color: #FF3535;
	color: white;
}

.home-create-leave-request {
	height: 92%;
	width: 50vw;
	background-color: #FF7C00;
	color: white;
}
