.holiday_card {
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 1rem;
	height: auto;
	max-height: 100%;
}

.button.small {
	margin: 0;
}

// Homepage styles

.home-create-company {
	height: 92%;
	width: 50vw;
	background-color: #4B92FC;
	color: white;
}

.home-connect-company {
	height: 92%;
	width: 50vw;
	background-color: #FF3535;
	color: white;
}

.home-create-leave-request {
	height: 92%;
	width: 50vw;
	background-color: #FF7C00;
	color: white;
}


// Callouts

.callout.small.notice {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}


// Table Customizations

.edit-column {
	width: 5vw;
}

// Menu Customizations

section.dropdown-pane {
	border: none;
}