
div#landing {
	background: url(https://unsplash.it/1280/720/?image=1067);
	background-repeat: no-repeat;
	background-size: cover;
}

.landing {
	min-height: 50vh;
}


.homepage-right {
  background-color: #29a4e9;
  min-height: 100%;
  width: 100%;
}

.landing-advantage {
  background-color: #29a4e9;
  min-height: 120%;
  max-min-height: 10000px;
  width: 100vw;
  padding: 3rem;
}

.landing-testimonials {
  min-height: 120%;
  width: 100vw;
  padding: 3rem;
}

.landing-endorsements {
  background-color: #ffae00;
  min-height: 120%;
  width: 100vw;
  padding: 3rem;
}

.landing-contact_messages {
  background-color: #29a4e9;
  min-height: 120%;
  width: 100vw;
  padding: 3rem;
}

.welcome {
  background-color: #29a4e9;
  min-height: 20rem;
  width: 100vw;
  color: white;
	padding: 1.5rem;
}

.text-search {
	// width: 50%;
	padding: 3rem;
}

.text-search-div {
	// background-color: #ffae00;
	background-color: white;
}

.grow-circle {
  background-color: white;
  border-radius: 50%;
  min-height: 5rem;
  width: 5rem;
  color: black;
  line-min-height: 5rem;
}

#show-instructions {
  padding: 2rem;
}

#instructions {
  min-height: 52%;
  width: 100vw;
}

.instructions {
  min-height: 20rem;
  width: 100vw;
	padding: 2rem;
}

// icons

.feature-icon {
  min-height: 10rem;
  width: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial-photo {
  border: 0.5rem solid white;
  border-radius: 50%;
  min-height: 15rem;
  width: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.endorsement-photo {
  min-height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-area-max {
  max-width: inherit;
}
// Contact Messages

.contact-field {
}

// Owners / Team

.meet-the-team {
  background-color: #393945;
  min-height: 50rem;
  width: 100%;
  padding: 2rem;
}

.owner-photo {
  border: 0.5rem solid white;
  border-radius: 50%;
  min-height: 15rem;
  width: 15rem;
}
