
// div#landing {
// 	// background:;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// }

.landing {
	min-height: 93vh;
}


.homepage-right {
  background-color: #29a4e9;
  min-height: 100%;
  width: 100%;
}

.landing-advantage {
  background-color: #29a4e9;
  min-height: 120%;
  max-min-height: 10000px;
  width: 100vw;
  padding: 1rem 0rem 1rem 0rem;
}

.landing-testimonials {
  min-height: 120%;
  width: 100vw;
  padding: 1rem 0rem 1rem 0rem;
}

.landing-endorsements {
  background-color: #ffae00;
  min-height: 120%;
  width: 100vw;
  padding: 1rem 0rem 1rem 0rem;
}

.landing-contact_messages {
  background-color: #27c229;
  min-height: 120%;
  width: 100vw;
	padding: 1rem 0rem 1rem 0rem;
}

.welcome {
  background-color: #29a4e9;
  min-height: 10rem;
  color: white;
	padding: 3rem 0rem 3rem 0rem;
}

.text-search {
	// width: 50%;
	padding: 3rem;
}

.text-search-div {
	// background-color: #ffae00;
	background-color: white;
}

.grow-circle {
  background-color: white;
  border-radius: 50%;
  min-height: 5rem;
  width: 5rem;
  color: black;
  line-min-height: 5rem;
}

#show-instructions {
  padding: 2rem;
}

#instructions {
  min-height: 52%;
  width: 100vw;
}

.instructions {
  min-height: 20rem;
  width: 100vw;
	padding: 2rem;
}

// icons

.feature-icon {
  min-height: 10rem;
  width: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial-photo {
  border: 0.5rem solid white;
  border-radius: 50%;
  min-height: 15rem;
  width: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.endorsement-photo {
  min-height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-area-max {
  max-width: inherit;
}
// Contact Messages

.contact-field {
}

// Owners / Team

.meet-the-team {
  background-color: #393945;
  min-height: 50rem;
  width: 100%;
  padding: 2rem;
}

.owner-photo {
  border: 0.5rem solid white;
  border-radius: 50%;
  min-height: 15rem;
  width: 15rem;
}

.logo {
	height: 40px;
	width: 40px;
}

.front-page-card {
	padding: 4rem;
}

.front-page-card:hover {
	box-shadow: 0 0 30px rgba(0,0,0,0.15);
}
