.holiday_card {
	padding: 1.5rem;
	margin: 0.5rem;
	border-radius: 1rem;
	min-height: auto;
	max-min-height: 100%;
}

.company_card {
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 1rem;
	min-height: auto;
	max-min-height: 100%;
}

.button.small {
	margin: 0;
}

// Homepage styles

.home-create-company, .home-connect-company {
	color: white;
	padding: 1rem;
}

.home-create-company {
	background-color: white;
  min-height: 7rem;
  line-min-height: 3.5rem;
}

.home-connect-company {
	background-color: white;
  min-height: 7rem;
  line-min-height: 4rem;
}



// Leave styles

.show-leave {
  background-color: #393945;
	padding: 2rem 0 2rem 0;
	color: white;
	line-min-height: 4rem;
}

// Callouts

.callout.small.notice {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}


// Table Customizations

.edit-column {
	width: 5vw;
}

// Menu Customizations

section.dropdown-pane {
	border: none;
}

// Div headers

.form-header {
	min-height: 20rem;
	background: #FFF;
	margin-bottom: 2rem;
}

.show-header {
	min-height: 20rem;
	background: #FFF;
}

.section-blue {
	min-height: 20rem;
	background-color: #29a4e9;
	color: white;
	padding: 2rem 0rem 2rem 0rem;
}

.box-round-blue {
	min-height: 20rem;
	height: inherit;
	background-color: #29a4e9;
	color: white;
	padding: 2rem;
	border-radius: 1.5rem;
	margin: 1rem;
}

.box-round-yellow {
	min-height: 20rem;
	background-color: #ffae00;
	color: white;
	padding: 2rem;
	border-radius: 1.5rem;
	margin: 1rem;
}

.no-leave-request {
	min-min-height: 20rem;
	background: #FFF;
}

.footer {
	min-height: 20rem;
	width: 100%;
	background: #191925;
	color: #fff;
}

// Font-sizes

.h-1 {
	font-size: 5rem;
}

// Buttons
$miko-button-border: 0.3rem;
.button {
	&.primary {
		color: white;
		border-radius: $miko-button-border;
		&:hover {
		 	color: white;
		}
	}
	&.success {
		color: white;
		border-radius: $miko-button-border;
		 &:hover {
		 	color: white;
		}
	}
	&.alert {
		color: white;
		border-radius: $miko-button-border;
		&:hover {
		 	color: white;
		}
  }
  &.warning.large {
		color: black;
		border-radius: $miko-button-border;
		&:hover {
		 	color: white;
		}
	}
}

// Topbar
$top-bar-min-height: 5%;
.top-bar {
	min-min-height: $top-bar-min-height;
  background-color: #f7f7f9;
}

.logo-round {
	border-radius: 50%;
	background-color: #29a4e9;
	padding: 0rem;
}

// table styles

.table-data {
  font-size: 0.9rem;
}


// Typography
