<div style='background-color: #29a4e9; padding: 10px;'>
  <div style='font-family: "Arial"; background-color: #f7f7f9; padding: 1rem; border-radius: 10px;'>
    <h3>Welcome to Tseklis!</h3>
    <hr />
    <br />
    <p>
      Here is the email you registered in Tseklis: <strong><%= @email %></strong>
    </p>

    <p>
      You can confirm your account email through the link below:
    </p>

    <p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>

    <p>
      If the email specified above is not yours, please kindly disregard this email.
    </p>

    <p>Thank you,</p>
    <p>Tseklis Team</p>
  </div>
</div>
