<div style='background-color: #29a4e9; padding: 5rem;'>
  <div style='font-family: "Arial"; background-color: #f7f7f9; padding: 2rem; border-radius: 1rem;'>
    <h1>Hello <%= @resource.profile.first_name %> <%= @resource.profile.last_name %>!</h1>

    <p>We're notifying you that your password has been changed.</p>
  </div>
</div>
