<div style='background-color: #29a4e9; padding: 10px;'>
  <div style='font-family: "Arial"; background-color: #f7f7f9; padding: 1rem; border-radius: 10px;'>
    <h3>Hello <%= @resource.profile.first_name %> <%= @resource.profile.last_name %>!</h3>

    <p>We're notifying you that your password has been changed.</p>
  </div>
</div>
