<div class="space2"></div>
<h1 class='text-center'><%= resource_class.model_name.human %> <small>Index</small></h1>
<div class="space2"></div>
<%= render 'index', attributes: %w(name short_description active) %>
