<div class="form-header">
  <div class="row text-center align-middle form-header">

    <div class="columns">

      <h2>Edit Time Request</h2>

    </div>
  </div>

  <div class="row">
    <div class="columns">
      <%= render 'time_request_form', url: company_time_requests_url(@company), method: :edit %>
    </div>
  </div>
</div>
